.box.to-do{
    background-color:rgb(22, 13, 13);
    color: rgb(205, 226, 230);
    text-align: center;
    box-shadow: 2px 2px rgb(184, 162, 158);
    padding: 20px 0 0 12p;
    text-decoration: line-through;
    /* align-content: space-around; */
}
.to-do:hover{
    background-color:rgb(41, 35, 35);
    color: rgb(160, 151, 160);
    cursor: pointer; 
    box-shadow: 2px 2px rgb(121, 121, 121);

}